body{
    background-color: rgb(252, 193, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
color: rgb(143, 26, 112);
font-weight: lighter;
text-align: center;
}
h1{
    color: rgb(44, 11, 75);
    font-weight: lighter;
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
}