
:root {
    --font-family: "Mulish", sans-serif;
    --cor-blue: #065E7C;
    --cor-light-blue: #387E96;
    --cor-white:#ffffff;
    --cor-light-grey: #f4fcff;
    --cor-text: #202024;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--cor-white);
    color: var(--cor-text);
}

header {
    background-color: var(--cor-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 4.5rem;
    padding: 1rem;
}

img {
    max-width: 100%;
}

header .logo {
    max-width: 100%;
    width: 3rem;
    cursor: pointer;
    background-size:cover;
}

header input {
    width: 100%;
    min-width: 6rem;
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem 0.9rem;
    background-color: var(--cor-light-blue);
}

::placeholder {
    color: var(--cor-white);
    opacity: 80%;
}

header .perfil {
    width: 3rem;
    max-width: 100%;
    background-size:cover;
    border-radius: 50%;
    cursor: pointer;
   }

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem 0;

} .controls button {
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    background-color: var(--cor-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button {
    transition: transform 0.2s ease-in-out;
}

button:focus {
    outline: 2px solid var(--cor-light-blue);
    outline-offset: 3px;
}

button:hover {
    transform: scale(1.06); 
}

section {
    margin: 1rem 0;
    max-width: 760px;
}

section,
aside {
    padding: 0 1rem;
}

section p {
    margin-bottom: 1.25rem;
    line-height: 1.5rem;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    margin: 1.5rem 0;
}

aside article {
    display: flex;
    align-items: center;
    gap: 1rem;
}

article {
    transition: transform 0.2s ease-in-out;
}

a:hover article {
    transform: scale(1.01);
    cursor: pointer;
    text-decoration: underline;
}

aside article img {
    max-width: 11rem;
    height: 6rem;
    border-radius: 0.5rem;
}

aside article p {
    font-size: 0.87rem;
    line-height: 1.5;
    margin: 0.2rem;
}

a {
    text-decoration: none;
    color: var(--cor-text);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-light-blue);
    color: var(--cor-light-grey);
    height: 4.5rem;
    font-size: small;
}