/* Estilo geral */
body{
    background-color: rgb(255, 255, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
  background-color: #490705;
  text-align: center;
  padding: 15px;
  color: #fdefd5;
}

main {
    margin: 0px 30px;
}

/* Seção Sobre mim */
#sobre {
  background-color: #c1d8ac;
  padding: 40px;
  text-align: center;
}

.foto {
  width: 150px;
  border-radius: 9%; /* deixa a imagem arredondada */
}

/* Seção Interesses */
#interesses {
  background-color: #a95128;
  padding: 30px;
  color: #000;
}

#interesses ul {
  list-style: circle;
}

/* Seção Contato */
#contato {
  background-color: #e6cda3;
  padding: 30px;
  color: #000;
}

#contato a {
  color: #a3471c;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
}

#contato a:hover {
  color: #ffffff; /* muda a cor quando passa o mouse */
}

/* Rodapé */
footer {
  background-color: #0b2702;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #fdefd5;
}
